<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Yape</title>
</head>

<body>
    <main>
        <div class="container usuario center">
            <div class="row center">
                <img src="/public/img/icons/lockone.png" alt="phone">
                <div>
                    <h5>Crea tu usuario Yape</h5>
                    <h6>Ingresa nombre, email y clave de usurio</h6>
                </div>
            </div>
            <div class="row">
                <form class="formulario">
                    <div class="row">
                        <div class="input-field col s12">
                            <img class="col s3" src="/img/icons/user.png">
                            <input id="phone" type="number" class=" col  s8 validate" placeholder="Nombre">
                        </div>
                        <hr>
                        <div class="input-field col s12">
                            <img class="col s3" src="/img/icons/message-gray.png">
                            <input id="phone" type="number" class=" col  s8 validate" placeholder="correo@ejemplo.com">
                        </div>
                        <hr>
                        <div class="input-field col s12">
                            <img class="col s3" src="/img/icons/lock.png">
                            <input id="phone" type="number" class=" col  s8 validate" placeholder="ingresa clave de seis digitos">
                        </div>
                        <hr>
                        <span>Cuida esta clave como oro, es tu acceso a Yape</span>
                    </div>
                    <div>
                        <a id="coreaCuenta" class="btn disabled --amarillo-boton">Crear Cuenta</a>
                    </div>
                </form>
            </div>

        </div>



    </main>
    <script type="text/javascript" src="../static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>