$Rojo: #f64552; //bullet
$Gris: #f8f8f8; //bullet
$Amarillo: #fbd43b; //botones
$letraGrisDark: #212121;
$letraGrisSoft: #8f8f8f;
$turquesa: #00c3a3; //Términos y condiciones
$numMorado: #49233b; //Entrada de números 
$moradoLight : #451e36;
$moradoDark : #38052a;