@import '_variables';
@import '_break';

* {
    margin: 0 auto;
    padding: 0;
}
//Index
.slider {
    color: $letraGrisDark;
    height: 75vh !important;
    margin-top: 5vh;
    .slides {
        height: 75vh !important;
        background-color: transparent;
        li {
            padding: 5vw;
            img {
                max-height: 50vh;
                height: 100%;
            }
        }
    }
    .indicators {
        .indicator-item.active {
            background: $Gris;
        }
        .indicator-item.active {
            background: $Rojo;
        }
    }
}
.--amarillo-boton {
    margin-top: 1.5vh;
    background: #fbd43b;
}
//views
.registro{
    padding: 3vw;
    margin-top: 7vh;
    img{
        max-height: 25vw;
    }
    h5{
        color: $letraGrisDark;
    }
    h6{
        color: $letraGrisSoft;
    }
}
.formulario{
    input{
        border-bottom: none;
    }
}
.codigo{
    @extend .registro
}
.usuario{
    @extend .registro
}
#success{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: $Amarillo;
    img{
        max-width: 40vw;
    }
    
}


//.carousel.carousel-slider.center.initialized
