/*Rojo - bullet : #f64552
Gris - bullet : #f8f8f8
Amarillo - botones : #fbd43b
Gris dark : #212121
Gris - letra soft : #8f8f8f
Turquesa - Términos y condiciones: #00c3a3
Morado - Entrada de números : #49233b
Morado light : #451e36
Morado dark : #38052a
*/

@import '_variables';
@import '_break';

* {
    margin: 0 auto;
    padding: 0;
}

.slider {
    color: $letraGrisDark;
    height: 75vh !important;
    margin-top: 5vh;
    .slides {
        height: 75vh !important;
        background-color: transparent;
        li {
            padding: 5vw;
            img {
                max-height: 50vh;
                height: 100%;
            }
        }
    }
    .indicators {
        .indicator-item.active {
            background: $Gris;
        }
        .indicator-item.active {
            background: $Rojo;
        }
    }
}

.--amarillo-boton {
    margin-top: 1.5vh;
    background: #fbd43b;
}

//.carousel.carousel-slider.center.initialized
